{% extends 'base.html.twig' %}

{% block title %}Step index{% endblock %}

{% block body %}
    <h1>Step index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for step in steps %}
            <tr>
                <td>{{ step.name }}</td>
                <td>{{ step.createdAt ? step.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ step.updatedAt ? step.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ step.id }}</td>
                <td>
                    <a href="{{ path('step_show', {'id': step.id}) }}">show</a>
                    <a href="{{ path('step_edit', {'id': step.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('step_new') }}">Create new</a>
{% endblock %}
