{% extends 'base.html.twig' %}

{% block title %}Step{% endblock %}

{% block body %}
    <h1>Step</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ step.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ step.createdAt ? step.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ step.updatedAt ? step.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ step.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('step_index') }}">back to list</a>

    <a href="{{ path('step_edit', {'id': step.id}) }}">edit</a>

    {{ include('step/_delete_form.html.twig') }}
{% endblock %}
