{% extends 'base.html.twig' %}

{% block title %}Edit ComponentType{% endblock %}

{% block body %}
    <h1>Edit ComponentType</h1>

    {{ include('component_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('component_type_index') }}">back to list</a>

    {{ include('component_type/_delete_form.html.twig') }}
{% endblock %}
