{% extends 'base.html.twig' %}

{% block title %}ComponentType index{% endblock %}

{% block body %}
    <h1>ComponentType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for component_type in component_types %}
            <tr>
                <td>{{ component_type.name }}</td>
                <td>{{ component_type.createdAt ? component_type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ component_type.updatedAt ? component_type.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ component_type.id }}</td>
                <td>
                    <a href="{{ path('component_type_show', {'id': component_type.id}) }}">show</a>
                    <a href="{{ path('component_type_edit', {'id': component_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('component_type_new') }}">Create new</a>
{% endblock %}
