{% extends 'base.html.twig' %}

{% block title %}New ComponentType{% endblock %}

{% block body %}
    <h1>Create new ComponentType</h1>

    {{ include('component_type/_form.html.twig') }}

    <a href="{{ path('component_type_index') }}">back to list</a>
{% endblock %}
