{% extends 'base.html.twig' %}

{% block title %}ComponentType{% endblock %}

{% block body %}
    <h1>ComponentType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ component_type.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ component_type.createdAt ? component_type.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ component_type.updatedAt ? component_type.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ component_type.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('component_type_index') }}">back to list</a>

    <a href="{{ path('component_type_edit', {'id': component_type.id}) }}">edit</a>

    {{ include('component_type/_delete_form.html.twig') }}
{% endblock %}
