{% extends 'base.html.twig' %}

{% block title %}Edit Block{% endblock %}

{% block body %}
    <h1>Edit Block</h1>

    {{ include('block/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('block_index') }}">{{ 'back_to_list' | trans }}</a>

    {{ include('block/_delete_form.html.twig') }}
{% endblock %}
