{% extends 'base.html.twig' %}

{% block title %}Block index{% endblock %}

{% block body %}
    <h1>Block index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for block in blocks %}
            <tr>
                <td>{{ block.name }}</td>
                <td>{{ block.createdAt ? block.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ block.updatedAt ? block.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ block.id }}</td>
                <td>
                    <a href="{{ path('block_show', {'id': block.id}) }}">show</a>
                    <a href="{{ path('block_edit', {'id': block.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('block_new') }}">Create new</a>
{% endblock %}
