{% extends 'base.html.twig' %}

{% block title %}Block{% endblock %}

{% block body %}
    <h1>Block</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ block.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ block.createdAt ? block.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ block.updatedAt ? block.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ block.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('block_index') }}">back to list</a>

    <a href="{{ path('block_edit', {'id': block.id}) }}">edit</a>

    {{ include('block/_delete_form.html.twig') }}
{% endblock %}
