{% extends 'base.html.twig' %}

{% block title %}Component index{% endblock %}

{% block body %}
    <h1>Component index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for component in components %}
            <tr>
                <td>{{ component.name }}</td>
                <td>{{ component.createdAt ? component.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ component.updatedAt ? component.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ component.id }}</td>
                <td>
                    <a href="{{ path('component_show', {'id': component.id}) }}">show</a>
                    <a href="{{ path('component_edit', {'id': component.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('component_new') }}">Create new</a>
{% endblock %}
