{% extends 'base.html.twig' %}

{% block title %}Component{% endblock %}

{% block body %}
    <h1>Component</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ component.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ component.createdAt ? component.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ component.updatedAt ? component.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ component.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('component_index') }}">back to list</a>

    <a href="{{ path('component_edit', {'id': component.id}) }}">edit</a>

    {{ include('component/_delete_form.html.twig') }}
{% endblock %}
