{% extends 'base.html.twig' %}

{% block title %}Phase index{% endblock %}

{% block body %}
    <h1>Phase index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for phase in phases %}
            <tr>
                <td>{{ phase.name }}</td>
                <td>{{ phase.createdAt ? phase.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ phase.updatedAt ? phase.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ phase.id }}</td>
                <td>
                    <a href="{{ path('phase_show', {'id': phase.id}) }}">show</a>
                    <a href="{{ path('phase_edit', {'id': phase.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('phase_new') }}">Create new</a>
{% endblock %}
