{% extends 'base.html.twig' %}

{% block title %}Phase{% endblock %}

{% block body %}
    <h1>Phase</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ phase.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ phase.createdAt ? phase.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ phase.updatedAt ? phase.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ phase.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('phase_index') }}">back to list</a>

    <a href="{{ path('phase_edit', {'id': phase.id}) }}">edit</a>

    {{ include('phase/_delete_form.html.twig') }}
{% endblock %}
